:root {
  --font-pincipal: Georgia, "Times New Roman", Times, serif;
  --font-system: system-ui, Helvetica, Arial, sans-serif;
  --color-brune: #963100;
  --color-bg-top: #071c2e;
  --color-font-bg-dark: #ffffff;
  --border-button: #1f0a01;
  --categorie: #fed7aa;
  --border: #ddd;
  --hint-1: #797979;
  --hint-2: #3d3d3d;
  --color-blue: #14599d;
}
body {
  font-family: var(--font-pincipal);
  display: grid;
  max-width: 100%;
}

main {
  background-color: var(--color-font-bg-dark);
  padding: 1.5% 5%;
  display: grid;
}
.card {
  border: solid 1px var(--border);
  padding: 1rem 1.5rem;
}
.card-article-top {
  border: solid 1px var(--border);
  border-radius: 5px;
  overflow: hidden;
}
.card-article-top figcaption {
  padding: 0.5rem;
  font-family: var(--font-system);
  font-size: 0.8em;
}
.card-figure-top img {
  max-width: 100%;
  display: block;
  margin: auto;
  margin: auto;
}

#see-all {
  display: block;
  margin: 2vh auto;
  text-align: center;
  color: var(--color-blue);
  font-family: var(--font-system);
  font-weight: 700;
  font-size: 2vh;
}
