:root {
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  display: grid;
  max-width: 100%;
}
/*
classes 
++++++++*/
.top-logo {
  height: 3vh;
}

/* xs */
header {
}
.topbar {
  padding: 0 2%;
  background-color: #071c2e;
  display: grid;
  grid: "hamburger loupe logo login subscribe" 6vh / auto auto auto auto auto;
  max-width: 100%;
  align-items: center;
}
.hamburger {
  grid-area: hamburger;
  place-self: center;
}
.loupe {
  grid-area: loupe;
  display: flex;
}
.loupe i {
  display: none;
}
.logo {
  grid-area: logo;
}
.logo img {
  width: auto;
  max-height: 2.1vh;
  padding-left: 1.3rem;
}
.login {
  place-self: center;
  grid-area: login;
  display: flex;
  flex-direction: row;
}
.login-logo {
  height: 2vh;
  margin: auto;
}
.login i {
  display: none;
}
.pages {
  display: none;
}
.subscribe {
  grid-area: subscribe;
}
.subscribe a {
  text-decoration: none;
  color: #ffffff;
  padding: 0.33em 0.33em;
  background-color: #963100;
  border-radius: 5px;
  border: solid #1f0a01 1px;
  font-weight: 700;
  font-size: 0.8em;
  letter-spacing: -0em;
}
header + legend-liens {
  padding: 0;
  margin: 0;
}
.legend-liens ul {
  margin: 0;
  padding: 0;
}
.legend-liens ul li,
p,
a {
  font-size: 0.8em;
  display: inline;
  text-decoration: none;
  color: #797979;
}
.legend-liens-a :hover {
  color: red;
}

main {
  padding: 3%;
  display: grid;
  background-color: red;
}
main header figure {
  margin-left: 0;
  background-color: red;
}

main header figure blockquote {
  background-color: blue;
  margin-left: 0;
  font-style: italic;
}
