:root {
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  display: grid;
  max-width: 100%;
}
/*
classes 
++++++++*/
.top-logo {
  height: 3vh;
}

/* xs */
header {
  background-color: orange;
}
.topbar {
  background-color: #071c2e;
  display: grid;
  grid: "hamburger loupe logo login subscribe" 6vh / auto auto auto auto auto;
  max-width: 100%;
  align-items: center;
}
.hamburger {
  grid-area: hamburger;
  place-self: center;
}
.loupe {
  grid-area: loupe;
  display: flex;
}
.loupe i {
  display: none;
}
.logo {
  grid-area: logo;
}
.logo img {
  width: auto;
  max-height: 2.1vh;
}
.login {
  background-color: blue;
  place-self: center;
  grid-area: login;
  display: flex;
  flex-direction: row;
}
.login i {
  display: none;
}
.pages {
  display: none;
}
.subscribe {
  grid-area: subscribe;
}
.subscribe a {
  text-decoration: none;
  color: #ffffff;
  padding: 0.2em 0.3px;
  background-color: #963100;
  border-radius: 5px;
  border: solid #1f0a01 1px;
}
header + legend-liens {
  padding: 0;
  margin: 0;
}
.legend-liens ul {
  margin: 0;
  display: flex;
  padding: 0;
  max-width: 35%;
  justify-content: space-around;
  list-style-type: none;
  background-color: hotpink;
  align-items: center;
}
.legend-liens ul li,
p,
a {
  font-size: 0.9em;
}

main {
  padding: 3%;
  display: grid;
  background-color: red;
}
main header figure {
  margin-left: 0;
  background-color: red;
}

main header figure blockquote {
  background-color: blue;
  margin-left: 0;
  font-style: italic;
}
